services:
  - type: web
    name: bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /health
    autoDeploy: true
